@import 'src/app/styles/variables.less'; 
.panelLayout {
  display: flex;
  flex-direction: row;
  height: 100%;
  &__blockContent{
    flex: 1;
    overflow: auto;
 
  }

  &__content {
    width: 100%;
    overflow: auto;
    padding: 20px;
  }
  h2{
    margin-top: 0px;
  }
}


@media @mobile {
  .panelLayout{
    flex-direction: column  ;
      &__blockContent{
        padding: 0px;
        flex: none;
    }
  }

}


@media @tablet {
  
}


@media @desktop {
  
}